/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F9FA;
  color: #2C3E50;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Importação da fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');